---
layout: layout_en
navigation: portal.html
title: CORE BANKING & LOANS
---
{% include hero.html 
    badge="Core Banking Solutions"
    title="Empower Your Financial Services."
    description="Comprehensive banking solutions, flexible loan management, and secure transaction processing for modern financial institutions."
    cta_url="/dashboard"
    cta_text="Get Started"
    image="/images/iaas-hero.svg"
    icon='<svg class="h-6 w-6 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="mdi-bank-transfer" viewBox="0 0 24 24"><path d="M15,14V11H18V9L22,12.5L18,16V14H15M14,7.7V9H2V7.7L8,4L14,7.7M7,10H9V15H7V10M3,10H5V15H3V10M13,10V12.5L11,14.3V10H13M9.1,16L8.5,16.5L10.2,18H2V16H9.1M17,15V18H14V20L10,16.5L14,13V15H17Z" /></svg>'
%}
<div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
            {% for feature in site.data.core_features.features %}
                {% include feature-section.html 
                    title=feature.title 
                    description=feature.description
                    image=feature.image
                    image_first=feature.image_first
                %}
            {% endfor %}
        </div>
    </div>
</div>
