---
layout: layout_en
navigation: portal.html
---
{% include hero.html 
    badge="FINTECH SERVICES"
    title="The Future of Financial Technology."
    description="Where innovation and financial expertise converge to provide custom fintech solutions for any need."
    cta_url="/dashboard"
    cta_text="Get Started"
    image="/images/hero-thumb.png"
    icon='<svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor"><defs/><title>finance</title><rect x="2" y="28" width="28" height="2"/><path d="M27,11a1,1,0,0,0,1-1V7a1,1,0,0,0-.66-.94l-11-4a1,1,0,0,0-.68,0l-11,4A1,1,0,0,0,4,7v3a1,1,0,0,0,1,1H6V24H4v2H28V24H26V11ZM6,7.7,16,4.06,26,7.7V9H6ZM18,24H14V11h4ZM8,11h4V24H8ZM24,24H20V11h4Z" transform="translate(0 0)"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32" style="fill:none"/></svg>'
    hero_class="py-8"
    image_class="h-96"
    image_width="w-96"
%}
<div class="py-4">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-3 cards-animate">
            {% for service in site.data.services.services %}
                {% include service-card.html 
                    url=service.url 
                    title=service.title 
                    description=service.description
                    icon=service.icon
                %}
            {% endfor %}
        </div>
    </div>
</div>
